:root {
  --Text: #fff;
  --wrapperBG: #1f1f1f;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: absolute;
}

/* Background styles */

#body {
  background-color: var(--wrapperBG);
  background-size: 100%;
  background-repeat: no-repeat;
}

.homePage {
  background-image: linear-gradient(#1f1f1f18, #1f1f1f18),
    url(../images/landing.jpg);
  background-repeat: none;
}

.aboutMePage {
  background-image: linear-gradient(#1f1f1f18, #1f1f1f18),
    url(../images/action.jpg);
  background-repeat: none;
}

.achievementsPage {
  background-image: linear-gradient(#1f1f1f18, #1f1f1f18),
    url(../images/action2.jpg);
  background-repeat: none;
}

/* Reusable styles */

.navItem {
  color: var(--Text);
  cursor: pointer;
  transition: all 0.6s;
}

.navItem:hover {
  text-shadow: 0 0.4rem 2rem black;
}

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.twoColumnGrid {
  padding-top: 6rem;
  padding-bottom: 6rem;
  row-gap: 4rem;
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.creditSpan {
  color: var(--Text);
}

.creditSpan a {
  color: var(--Text);
  margin-bottom: 0;
}

/* Header styles */

.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f5b;
}

.headerNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
}

/* Footer styles */

.footer {
  background-color: #1f1f1f5b;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footerList {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.footerNav {
  font-size: 1.5rem;
}

.creditSpan {
  font-size: 1.5rem;
}

/* Index styles */

.openingSprawl {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0.5rem 2rem black;
}

.openingSprawl h1 {
  color: var(--Text);
  text-align: center;
  font-size: 4rem;
  letter-spacing: 2rem;
}

.wrapper {
  min-height: 125vh;
  width: 100vw;
}

/* Grid page styling */

.sectionContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.sectionHeader {
  color: var(--Text);
  text-shadow: 0 0.5rem 2rem black;
  font-size: 3rem;
}

.textBlock {
  color: var(--Text);
  text-shadow: 0 0.5rem 2rem black;
  font-size: 2rem;
  width: 80%;
}

.photoFrame {
  /* padding: 2rem; */
  width: 44rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  background-color: rgb(247, 246, 246);
  box-shadow: 0 0.5rem 2rem black;
}

.gridSectionPhoto {
  width: 40rem;
  height: 40rem;
}

/* Animations */

@media screen and (max-width: 769px) {
  #body {
    background-size: 160%;
    background-position: center;
  }
  .sectionHeader {
    font-size: 2.5rem;
  }

  .textBlock {
    font-size: 1.5rem;
  }

  .photoFrame {
    color: black;
    width: 33rem;
    padding-top: 1.5rem;
    padding-bottom: 0;
    height: 38rem;
  }

  .gridSectionPhoto {
    width: 29rem;
    height: 29rem;
  }
}

@media screen and (max-width: 750px) {
  #body {
    background-size: 210%;
    background-position: center;
  }

  #body.aboutMePage {
    background-size: 460%;
  }

  #body.achievementsPage {
    background-size: 460%;
  }

  .openingSprawl {
    margin-left: 0.5rem;
    /* margin-right: auto; */
    width: 80vw;
  }
  .openingSprawl h1 {
    font-size: 2.2rem;
    letter-spacing: 0.9rem;
  }

  .twoColumnGrid {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footerNav {
    font-size: 1.25rem;
  }

  .creditSpan {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 376px) {
  .twoColumnGrid {
    column-gap: 10rem;
  }

  #body.aboutMePage {
    background-size: 600%;
  }
  #body.achievementsPage {
    background-size: 600%;
  }
}
